* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;

  z-index: 10;
  background: rgba(56, 65, 67, 0.8);
  width: 100%;

  height: 72px;
  max-height: 10vh;


  font-size: 20px;
  display: flex;
  justify-content: center;
  transition: top 50ms ease-out;

}

.header-content {
  width: 90%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: stretch;

  color: #fafcea;
}

.title {
  display: flex;
  align-items: center;
  font-size: 0.8em;
  font-family: "Pinyon Script", cursive;
  flex:1;
  cursor: default;
}

.tabs {
  display: flex;
  align-items: center;
  flex:1;
  justify-content: flex-end;
}

.tab-selector {
  color: #fafcea;
  flex:1;
  border: none;
  background: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  max-width: 100px;

  font-size: 0.8em;
  font-family: "Metrophobic", sans-serif;
  transition: color 50ms ease-in-out;
}

.tab-selector:active {
  color: #90BFB1;
}

.active {
  color: #c55b3e;
}



.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(../src/images/food-wide-1.jpg) no-repeat center center;
}


.welcome {
  background: rgba(56, 65, 67, 0.8);
  color: #fafcea;
  padding: 30px;
  font-size: 25px;
  text-align: center;
  font-family: "Metrophobic", sans-serif;
}

.logo {
  display: flex;
  padding: 10px;
  font-size: 1.8em;
  font-family: "Pinyon Script", cursive;
  cursor: default;
}

.colorletter {
  transition: color 25ms ease-out;
  cursor: default;
}

.colorletter:hover {
  color: #c55b3e;
}

.menu-container {
  background: url(../src/images/food-wide-2-big.jpg) no-repeat center center;
  padding-top: 96px;
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(56, 65, 67, 0.8);
  width: 100%;
  max-width: 720px;

}

.menu-title {
  color: #fafcea;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 128px;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Metrophobic", sans-serif;
  font-size: 50px;
}

.menu-logo {
  font-family: "Pinyon Script", cursive;
}

.menu-item {
  font-family: "Metrophobic", sans-serif;
  padding: 25px;
  margin: 25px;
  width: 100%;
  max-width: 560px;
}

.menu-item-title {
  color: #c55b3e;
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 24px;
}

.menul {
  color: #c55b3e;
}

.menu-dish {
  color: #fafcea;
  font-size: 1.3em;
  line-height: 1.9em;
  display: flex;
  justify-content: space-between;

}

.contact-container {
  background: rgba(56, 65, 67, 1);
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-title {
  color: #fafcea;
}

@media only screen and (min-width: 800px) {
  .page-container {
    background: url(../src/images/food-wide-1-big.jpg) no-repeat center center;
  }
}
